[submodule "modules/contrib/admin_toolbar"]
	path = modules/contrib/admin_toolbar
	url = http://git.drupal.org/project/admin_toolbar.git
[submodule "modules/contrib/git_deploy"]
	path = modules/contrib/git_deploy
	url = http://git.drupal.org/project/git_deploy.git
[submodule "profiles/config_installer"]
	path = profiles/config_installer
	url = git://git.drupal.org/project/config_installer.git
