// BORDER BOX
// =============================================================================
@include border-box-sizing;

// CONFIGURE SUSY 2 GLOBAL DEFAULTS
// =============================================================================

$susy: (
  columns: 12,
  gutters: 20px/40px,
  column-width: 40px,
  container: 1180px
);
