// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000;
$white: #fff;
$grey: #ddd;

// CUSTOM COLORS
$green: #54cc61;
$red: #d52a32;
$orange: #eca834;
$blue: #2a6fca;

$body-text: $black;
$text: $body-text;

$link: $blue;

$border: $black;
$table-border: $border;
$focus-color: $blue;
$focus: $focus-color;
