
// LOGO STYLES
// =============================================================================

.site-logo {
  float: left;
  display: block;
  width: 200px;
  height: 124px;
  margin-top: 40px;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// SITE NAME & SLOGAN
// =============================================================================

.block-system-branding-block {
  @include clearfix;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

//Site name
.site-name {

}

//Site slogan
.site-slogan {

}

// HEADER STYLES
// =============================================================================

.header {

}
