// Hide the toolbar or admin menu on small screens.
// =============================================================================

@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }
  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}
.panels-flexible-region {
  width: 100% !important;
}

// Flat Drupal Admin Menu Bar
// =============================================================================

#admin-menu, #toolbar {
  box-shadow: none;
  // background: #23282d;

  div.toolbar-menu {
    background: #23282d;
  }
}

// MIXINS FOR DRUPAL OVERRIDES
// =============================================================================

/* Content here */
