{#
/**
 * @file
 * Theme override to display an answer set.
 * @override modules/contrib/paragraphs/templates/paragraph.html.twig
 *
 * Fields available:
 * field_answer - Answer text
 * field_discovery_set - Paragraph field of Discoveries - @see paragraph--discovery.html.twig
 * field_score - Score for this answer (integer)
 */
#}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    {{ content }}
</div>
