// FONT INCLUDES
// =============================================================================


// FONT MIXINS
// =============================================================================

@mixin font-light {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

@mixin font-regular {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin font-semibold {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin font-bold {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
}

// BASE FONT
// =============================================================================

html {
  @include font-regular;
  @include font-size(18px,true);
  // @include breakpoint($mobile) {
  //   font-size: 87.5%;
  //   line-height: 1.5;
  // }
}

// HEADER STYLES
// =============================================================================
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

@mixin h1 {
  @include font-size(48,true);
  @include font-light;
  @extend h1;
}

@mixin h2 {
  @include font-size(34,true);
  @include font-light;
  @extend h2;
}

@mixin h3 {
  @include font-size(22,true);
  @include font-regular;
  @extend h3;
}

@mixin h4 {
  @include font-size(18,true);
  @include font-regular;
  @extend h4;
  margin: 0;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

// TEXT STYLES
// =============================================================================
b, em, strong {
  @include font-semibold;
}
